:root{

    /* backgroundColor */
    --B1:  #FFFFFF;
    --B2:  #F5F5F6;
    --B3:  #E1E2E5;
    --B4:  #E9EFFC;
    /* color neutral */
    --N1: #F5F5F6;
    --N2: #E1E2E5;
    --N3: #C8CBCF;
    --N4: #AAAEB6;
    --N5: #8F949E;
    --N6: #717784;
    --N7: #565D6C;
    --N8: #33394D;
    --N9: #1C263B;
    --N10: #061127;
    /* color primary */
    --P1: #E9EFFC;
    --P2: #BDCFF4;
    --P3: #91AFED;
    --P4: #658FE7;
    --P5: #396EE0;
    --P6: #1F54C5;
    --P7: #19439E;
    --P8: #133276;
    --P9: #0C224F;
    --P10: #061127;
    /* color success */
    --S1: #EBFAED;
    --S2: #B1EABA;
    --S3: #89DF98;
    --S4: #62D475;
    --S5: #3BCA53;
    --S6: #2DA641;
    --S7: #248434;
    --S8: #1B6427;
    --S9: #12441B;
    --S10: #0A240E;
    /* color warning */
    --W1: #FEF6E6;
    --W2: #FDE3AE;
    --W3: #FDD585;
    --W4: #FCC75D;
    --W5: #FBB934;
    --W6: #FAAB0C;
    --W7: #C1860A;
    --W8: #895F07;
    --W9: #513804;
    --W10: #191101;
    /* color error */
    --E1: #FFE5E5;
    --E2: #FF9C9C;
    --E3: #FF6A6A;
    --E4: #FF3838;
    --E5: #FF0707;
    --E6: #D40000;
    --E7: #A70000;
    --E8: #780000;
    --E9: #490000;
    --E10: #1A0000;
}
